*{
  font-family: Lato_Black;
  margin: 0;
  padding: 0;
}
.body{
  max-width: 1600px;
}
.header{
  background:url(bg.jpg) #ac424b;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  width: 100%;
  height: 550px;
}
nav{
  padding: 35px 70px;
}
.logo{
  font-size: 43px;
  color: #fff;
  display: inline;
}
nav ul{
  font-size: 15px;
  margin-top: 28px;
  float: right;
  text-transform: uppercase;
}
nav li {
  margin-left: 10px;
  display: inline;
}
nav a{
  text-decoration: none;
  color: #fff;
}

.wrpd2{
  margin-top: -20px;
  margin-left: -200px;
  float: left;
  width: 50%;
  display: inline-block;
}
.wrpd1{
  float: left;
  width: 50%;
  display: inline-block;
  margin-left: 200px;
}
.wrpd1 h1{
  opacity: 0.8;
  color: #fff;
  line-height: 1;
  font-family: LemonMilk;
  text-align: center;
  font-size: 70px;
}
span{
  font-size: 120px;
  font-family: lemonMilk;
  color: #fff;
}
.btn-read-more{
  border: none;
  display: block;
  width: 160px;
  height: 40px;
  background-color: #fff;
  border-radius: 20px;
  margin: 10px auto;
  text-transform: uppercase;
  font-family: Lato_Black;
  font-size: 17px;
  opacity: 0.9;
}
.who{
  height: 500px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50,000000+50,000000+100 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(45deg, #ffffff 0%, #ffffff 70%, #171717 70%, #171717 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #ffffff 0%,#ffffff 70%,#171717 70%,#171717 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #ffffff 0%,#ffffff 70%,#171717 70%,#171717 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#171717',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
